@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .primary-container{
    @apply flex flex-col
  }
}

.box {
  --mask:
    radial-gradient(65.41px at 50% 92.4px,#000 99%,#0000 101%) calc(50% - 88px) 0/176px 51% repeat-x,
    radial-gradient(65.41px at 50% -48.4px,#0000 99%,#000 101%) 50% 44px/176px calc(51% - 44px) repeat-x,
    radial-gradient(65.41px at 50% calc(100% - 92.4px),#000 99%,#0000 101%) 50% 100%/176px 51% repeat-x,
    radial-gradient(65.41px at 50% calc(100% + 48.4px),#0000 99%,#000 101%) calc(50% - 88px) calc(100% - 44px)/176px calc(51% - 44px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

